In [2]:
# Importing necessary libraries
import pandas as pd
import numpy as np
import statistics as stats

In [3]:
# Reading the dataset
df = pd.read_csv('Bestsellers with categories.csv')
df.head(20)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,11,2011,Fiction
6,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin,4.7,19735,30,2014,Fiction
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,15,2017,Fiction
8,"A Higher Loyalty: Truth, Lies, and Leadership",James Comey,4.7,5983,3,2018,Non Fiction
9,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,8,2016,Fiction
10,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,8,2017,Fiction
11,A Patriot's History of the United States: From...,Larry Schweikart,4.6,460,2,2010,Non Fiction
12,A Stolen Life: A Memoir,Jaycee Dugard,4.6,4149,32,2011,Non Fiction
13,A Wrinkle in Time (Time Quintet),Madeleine L'Engle,4.5,5153,5,2018,Fiction
14,"Act Like a Lady, Think Like a Man: What Men Re...",Steve Harvey,4.6,5013,17,2009,Non Fiction
15,Adult Coloring Book Designs: Stress Relief Col...,Adult Coloring Book Designs,4.5,2313,4,2016,Non Fiction
16,Adult Coloring Book: Stress Relieving Animal D...,Blue Star Coloring,4.6,2925,6,2015,Non Fiction
17,Adult Coloring Book: Stress Relieving Patterns,Blue Star Coloring,4.4,2951,6,2015,Non Fiction
18,Adult Coloring Books: A Coloring Book for Adul...,Coloring Books for Adults,4.5,2426,8,2015,Non Fiction
19,Alexander Hamilton,Ron Chernow,4.8,9198,13,2016,Non Fiction

In [4]:
# Checking for nul values
df.isnull().sum()

Name           0
Author         0
User Rating    0
Reviews        0
Price          0
Year           0
Genre          0
dtype: int64

In [6]:
# Finding the mean, mode and median of User Rating
print(f'Mean: {stats.mean(df["User Rating"])}')
print(f'Mode: {stats.mode(df["User Rating"])}')
print(f'Median: {stats.median(df["User Rating"])}')

Mean: 4.618363636363636
Mode: 4.8
Median: 4.7

In [7]:
# Finding the mean, mode and median of Price
print(f'Mean: {stats.mean(df["Price"])}')
print(f'Mode: {stats.mode(df["Price"])}')
print(f'Median: {stats.median(df["Price"])}')

Mean: 13.1
Mode: 8
Median: 11.0

In [8]:
# Finding the mean, mode and median of Reviews
print(f'Mean: {stats.mean(df["Reviews"])}')
print(f'Mode: {stats.mode(df["Reviews"])}')
print(f'Median: {stats.median(df["Reviews"])}')

Mean: 11953.281818181818
Mode: 8580
Median: 8580.0